on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

# GLOBAL ENV: Only GitHub secrets or constants
env:
  ARTIFACTORY_URL: ${{ secrets.ARTIFACT_URL }}
  SONAR_URL: ${{ secrets.SONAR_URL }}      # https://sonarcloud.io
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  ECR_ROLE: ${{ secrets.ECR_ACESS_ROLE }}
  AWS_REGION: ${{ secrets.AWS_REGION }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'maven'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build with Maven
        run: mvn -B clean verify

      - name: Package with Maven
        run: mvn -B clean package

      - name: Upload JAR file
        uses: actions/upload-artifact@v4
        with:
          name: geomvp-jar
          path: target/*.jar

  sonar:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'maven'

      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: SonarCloud Scan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_URL: ${{ secrets.SONAR_URL }}
        run: |
          mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
            -Dsonar.host.url=${SONAR_URL} \
            -Dsonar.login=${SONAR_TOKEN} \
            -Dsonar.organization=jonathanatsu \
            -Dsonar.projectKey=JonathanAtsu_geoMVP \
            -Dsonar.qualitygate.wait=false
    
    
  build-docker-image:
    runs-on: ubuntu-latest
    needs: sonar
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: OIDC-login
      uses: aws-actions/configure-aws-credentials@v2
      id: aws-creds
      with:
        role-to-assume: ${{ secrets.ECR_ARN }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: geomvp-jar
        path: ./artifact

    - name: Duild and Tag image for ECR  
      run: |
        APP_VERSION=`grep -m2 '<version>' pom.xml | tail -1 | grep -oP '(?<=>).*(?=<)'`
        echo $APP_VERSION
        docker build -t geomvp:${{ github.sha }} .
        docker tag geomvp:${{ github.sha }} ${{ steps.login-ecr.outputs.registry }}/geomvp:${{ github.sha }}
        docker tag geomvp:${{ github.sha }} ${{ steps.login-ecr.outputs.registry }}/geomvp:$APP_VERSION

    - name: Push Docker image to ECR
      run: |
        APP_VERSION=`grep -m2 '<version>' pom.xml | tail -1 | grep -oP '(?<=>).*(?=<)'`
        echo $APP_VERSION
        docker push ${{ steps.login-ecr.outputs.registry }}/geomvp:${{ github.sha }}
        docker push ${{ steps.login-ecr.outputs.registry }}/geomvp:$APP_VERSION

 